version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/client"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
  
  - package-ecosystem: "npm"
    directory: "/server"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 10
  


  # npm dependencies
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "IOUser755"

  # GitHub Actions


  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"


    reviewers:
      - "IOUser755"

      
